

.flex-container{
    display: flex;
}

.form label{
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: white;
}
.form{
    background-color: blueviolet;
    border: 50px solid blueviolet;
    border-radius: 20px;}

.form input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.form button{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

}


.form button {
   background-color: blueviolet;
   text-align: center;
   color: #fff;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a button{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
   .flex-container{
         flex-direction: column;
   }
}
