body {
    background-color: silver;
}

.flex-container{
    display: flex;
}

.form label{
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: white;
}
.form{
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 10px;}

.form input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}


.form button {
   background-color: blueviolet;
   text-align: center;
   color: #fff;
}